.App {
  text-align: center;
  

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
 
  color: #61dafb;
}

.button{
  background-image: linear-gradient(#17d8fade,#727ff1);
}
.button2{
  background-image: linear-gradient(#26f5e4de,#10f109de);
}

.button3{
  background-image: linear-gradient(#e26060de,#f0ab52de);
}

.flashcard{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQB3XAMegpoDMDqZ5zJDspHK_8SK5PZJw_GbNtqJwi8-cvqdQav&usqp=CAU");
}

.flashcard2{
  background-image: url("https://lh3.googleusercontent.com/proxy/aBTo1GNimq_yOmdaiMwFNm_6prROTW-vqu7ZVN_TM3vAL8OHTNYd8mYdHRZEf91pIEftNRIA_mq_5jsqApGDZNc74PZT9X-_uxm8vMItMh3w8rAFnsFNxQoNApo751y_g4xGKci_gb3okXEdMJrLag9HbEA04Rz8IBG3c2CO-XsAJzlmAaE");
}

.footer{
  margin-top:77%;
  background-image: linear-gradient(#61dafb,#282934);
}


.header {
  height: 40px;
  margin-bottom:  15px;
  font-size: 30px;
  font: bolder;
  color: white;
  outline-color: black;
  justify-content: center;
  padding: 20px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROtWpRgNIwFLRBT0CiwUO7fu0vTFiMTeLeEjSRH30k8M9PgwC0&usqp=CAU");
}

.highlight{
  background-color: yellow;
}

.jumbo {
  background-image: radial-gradient(#dee2e4,#a0a0a0);
}

.michael{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQsi81bD8EnGqeIzB3CE7MV3SQD1ZRya8cJyO1-YO9fGnjuYk0l&usqp=CAU");
}

.sjw{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRz3B4yTeIIYNAi688AM_e0lEedynWjbBjKXJ2I9euhO3jOnZtk&usqp=CAU");
}

.sjw2{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSr2SpqFUPmuKDvAdz2SHP7OuWQRqWBcrxbf0OH0kJenL8myY-L&usqp=CAU");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
